<article class="city-card">
  <img
      class="city-card__image"
      src="assets/img/cities/{{city.image}}"
      alt="Фотография города {{city.name}}"
      width="100" height="100" loading="lazy"
  />
  <div class="city-card__info">
    <div class="city-card__wrapper">
      <header class="city-card__header">
        <h3 class="h3 city-card__title">{{city.name}}</h3>
        <p-button
            [icon]="city.favorite ? 'pi pi-star-fill' : 'pi pi-star'"
            [rounded]="true"
            [text]="true"
            severity="secondary"
            (click)="toggleFavorite()"
        />
      </header>
      <div class="city-card__body">
        <span class="city-card__description">{{city.description}}</span>
      </div>
    </div>
    <div class="city-card__actions-group">
      <div class="city-card__actions">
        <p-button
            icon='pi pi-file-edit'
            [rounded]="true"
            [text]="true"
            severity="secondary"
            (click)="editCity()"
        />
        <p-confirmDialog [style]="{width: '20vw'}"></p-confirmDialog>
        <p-button
            icon='pi pi-trash'
            [rounded]="true"
            [text]="true"
            severity="secondary"
            (click)="deleteCity()"
        />
      </div>
    </div>
  </div>
</article>
