<div class="container todo-list">
  <div class="todo-list__body">
    <h2 class="h2 visually-hidden">Список заметок</h2>
    <h3 class="h3 todo-list__title">Создать заметку</h3>
    <form class="todo-list__form">
      <div class="p-inputgroup">
        <input class="todo-list__create-input" type="text" pInputText placeholder="Название заметки"/>
        <button class="todo-list__create-button" pButton pRipple (click)="createTodo()">
          <img
              class="todo-list__create-icon"
              src="assets/img/icons/telegram.svg"
              alt=""
              width="20" height="20" loading="lazy"
          >
        </button>
      </div>
    </form>

    <h3 class="h3">Список заметок</h3>
    <div class="todo-list__filter-wrap">
      <span class="todo-list__filter-label">Показывать</span>
      <p-dropdown class="todo-list__filter-select"
          [options]="filters"
          [(ngModel)]="selectedFilter"
          optionLabel="name" [showClear]="true"
          placeholder="Все заметки"
      ></p-dropdown>
    </div>

    <ul class="todo-list__list">
      <li class="todo-list__item" *ngFor="let todo of todos">
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
    </ul>
  </div>
</div>
