<tui-root>
  <div class="container user-creation">
    <form class="user-creation__form" [formGroup]="userForm">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_5">
          <h3 class="tui-form__header visually-hidden">Создание пользователя</h3>
          <div class="tui-form__row">
            <tui-input
                formControlName="name"
            >
              Введите имя
              <input
                  placeholder="Иван"
                  tuiTextfield
              />
              <span class="tui-required"></span>
            </tui-input>
            <tui-error
                formControlName="name"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
          </div>

          <div class="tui-form__row">
            <tui-input
                formControlName="surname"
            >
              Введите фамилию
              <input
                  placeholder="Иванов"
                  tuiTextfield
              />
              <span class="tui-required"></span>
            </tui-input>
            <tui-error
                formControlName="surname"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
          </div>

          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-select
                  formControlName="lang"
                  [valueContent]="languageValueContent"
              >
                Выберите язык интерфейса
                <tui-data-list-wrapper
                    *tuiDataList
                    [items]="getLanguages(languages)"
                ></tui-data-list-wrapper>
              </tui-select>
              <ng-template
                  #languageValueContent
                  let-data
              >
                <div>{{ data }}</div>
              </ng-template>
              <tui-error
                  formControlName="lang"
                  [error]="[] | tuiFieldError | async"
              ></tui-error>
            </div>
          </div>

          <div
              tuiGroup
              class="tui-form__row"
              [adaptive]="true"
              [collapsed]="true"
          >
            <tui-radio-block
                *ngFor="let role of roles"
                contentAlign="right"
                formControlName="role"
                size="l"
                [hideRadio]="true"
                [item]="role.ru"
            >
              {{ role.ru }}
            </tui-radio-block>
          </div>

          <div class="tui-form__buttons">
            <button
                appearance="primary"
                tuiButton
                type="button"
                (click)="addSkill()"
            >
              Добавить умение
            </button>
          </div>

          <tui-error [error]="numberOfSkillsError"></tui-error>

          <ul *ngIf="skills.length"
              formArrayName="skills"
              class="tui-form__row user-creation__skills-list"
          >
            <li *ngFor="let skill of skills.controls; let i = index"
                class="user-creation__skill-item">
              <app-skill-item
                  [skillForm]="skill"
                  (remove)="removeSkill(i)">
              </app-skill-item>
            </li>
          </ul>

          <div class="tui-form__buttons">
            <button
                size="l"
                tuiButton
                type="submit"
                (click)="createUser()"
                [disabled]="userForm.invalid"
            >
              Создать
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</tui-root>
