<div class="container tool-bar">
    <span class="p-buttonset">
      <button class="tool-bar__toggle-button"
              pButton
              pRipple
              label="Список"
              severity="secondary"
              [outlined]="true"
              (click)="navigate('cities/list')"
      ></button>
      <button class="tool-bar__toggle-button"
          pButton
          pRipple
          label="Плитка"
          severity="secondary"
          [outlined]="true"
          (click)="navigate('cities/tile')"
      ></button>
    </span>
  <p-button
      class="tool-bar__create-button"
      label="Создать"
      (click)="navigate('cities/create')"
  ></p-button>
</div>