<div class="container tool-bar">
  <div class="tool-bar__toggles-group">
    <button class="button button__toggle button__toggle--left button__toggle--active"
            (click)="navigate('cities/list')">
      Список
    </button>
    <button class="button button__toggle button__toggle--right"
            (click)="navigate('cities/tile')">
      Плитка
    </button>
  </div>
  <!--  <button class="button" (click)="addCity()">Создать</button>-->
  <button class="button"
          (click)="navigate('cities/create')">
    Создать
  </button>
</div>
