<form
    [formGroup]="skillForm"
    class="skill__form">
  <div class="tui-form__row skill__input">
    <tui-input formControlName="name">
      Введите название
      <input tuiTextfield/>
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>

  <button
      appearance="icon"
      icon="tuiIconTrash"
      tuiIconButton
      type="button"
      (click)="removeSkill()">
  </button>
</form>
