<article class="todo-item">
  <div class="todo-item__checkbox-wrap">
    <p-checkbox [formControl]="control" [binary]="true" inputId="binary"></p-checkbox>
  </div>
  <div class="todo-item__title-wrap">
    <span class="todo-item__title-name">{{todo.title}}</span>
  </div>
  <button class="todo-item__delete-button" pButton pRipple severity="danger" (click)="delete.emit(todo.id)">
    <img
        class="todo-item__delete-icon"
        src="assets/img/icons/delete-cross.svg"
        alt=""
        width="16" height="16" loading="lazy"
    >
  </button>
</article>
