:host ::ng-deep {
  .todo-item__delete-button {
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    border-radius: 0 2px 2px 0;
    //background-color: var(--red-600);
  }
}


.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border-grey);
  border-radius: 2px;

  &__checkbox-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: var(--color-light-grey);
    border-right: 1px solid var(--color-border-grey);
  }

  &__title-wrap {
    flex-grow: 1;
  }

  &__title-name {
    padding-inline: 12px;
  }
}