<div class="container city-editor">

</div>




<!--<div class="add-city">-->
<!--  <h2 class="add-city__title">{{titleName}}</h2>-->
<!--  <div class="add-city__body">-->
<!--    <form [formGroup]="cityForm" class="add-city__form">-->
<!--      <div class="field">-->
<!--        <label class="field__label" for="city-name">Название города*</label>-->
<!--        <input-->
<!--            class="field__input"-->
<!--            id="city-name"-->
<!--            name="name"-->
<!--            type="text"-->
<!--            formControlName="name"-->
<!--        />-->
<!--      </div>-->

<!--      <div class="field">-->
<!--        <label class="field__label" for="city-description">Краткое описание*</label>-->
<!--        <textarea-->
<!--            class="field__input add-city__textarea"-->
<!--            id="city-description"-->
<!--            name="description"-->
<!--            formControlName="description"-->
<!--        >-->
<!--        </textarea>-->

<!--      </div>-->

<!--      <div class="add-city__buttons-group">-->
<!--        <button-->
<!--            class="add-city__button button"-->
<!--            type="submit"-->
<!--            [disabled]="cityForm.invalid"-->
<!--        >-->
<!--          Сохранить-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

