.city-editor {

  &__body {
    max-width: 510px;
    width: 100%;
  }

  &__form-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 40px;
  }

  &__button {
    color: var(--color-light);
  }

}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
